<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Stream</title>
</head>
<body>
    <h1>Live Video Stream with Predictions</h1>
    <button onclick="requestCameraPermission()">Grant Access to Camera</button>
    <div id="video-container"></div>
    <img src="{{ url_for('video_feed') }}" width="640" height="480">

    <script>
        function requestCameraPermission() {
            navigator.mediaDevices.getUserMedia({ video: true })
            .then(function(stream) {
                var video = document.createElement('video');
                video.srcObject = stream;
                video.setAttribute('width', '640');
                video.setAttribute('height', '480');
                video.setAttribute('autoplay', '');
                document.getElementById('video-container').appendChild(video);
            })
            .catch(function(err) {
                alert("Unable to access the camera!");
            });
        }
    </script>
</body>
</html>
