<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Injury Detection</title>
</head>
<body>
    <h1>Injury Detection</h1>
    <div id="video-container"></div>

    <script>
        function requestCameraPermission() {
            navigator.mediaDevices.getUserMedia({ video: true })
            .then(function(stream) {
                var video = document.createElement("{{ url_for('video_feed') }}");
                video.srcObject = stream;
                video.setAttribute('autoplay', '');
                video.setAttribute('playsinline', '');
                document.getElementById('video-container').appendChild(video);
            })
            .catch(function(err) {
                alert("Unable to access the camera!");
            });
        }

        // Request camera permission when the page loads
        document.addEventListener('DOMContentLoaded', function() {
            requestCameraPermission();
        });
    </script>
</body>
</html>
